@charset "UTF-8";
@import url('http://fonts.googleapis.com/css2?family=Open+Sans:wgt@400;700&display=swap');

body{
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	font-weight: 400;
}

h1{
	color: #1A1818;
}

.Botao1{
	text-decoration: none;
	background-color: #E6D8D8;
	padding: 5px 10px 5px 10px;
	color: #050505;
	font-size: 1.2em;
	font-weight: 700;
	border-radius: 5px;
	border: 0;
	cursor: pointer;
}

.Botao2{
	text-decoration: none;
	background-color: #BFEEF2;
	padding: 5px 10px 5px 10px;
	color: #050505;
	font-size: 1.2em;
	font-weight: 700;
	border-radius: 5px;
}

.Caixa{
	width: 320px;
	padding: 5px;
	margin-bottom: 10px;
	border: 1px solid #1A1818;
	border-radius: 5px;
}

#caixa{
	padding: 5px;
	margin-bottom: 10px;
	border: 1px solid #1A1818;
}

#tabela{
	margin-top: 30px;
	border-collapse: collapse;
}

#tabela th{
	border: 1px solid #ddd;
	padding: 10px;
	text-align: left;
	background-color: #E6D8D8;
	color: #050505;
}

#tabela td{
	border: 1px solid #ddd;
	padding: 10px;
}